* {
    box-sizing: border-box;
}

html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

html.dark {
    background-color: #0d0950;
    color: #fff;
}

a {
    text-decoration: none;
    padding: 0.3rem;
}

.light a {
    color: black;
}

.light a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    outline: 0.2rem solid black;
}

.dark a {
    color: #fff;
}

.dark a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    outline: 0.2rem solid white;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

main {
    flex: 1;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

button {
    cursor: pointer;
}