---
import PageWrapper from "../layouts/pageWrapper.astro";

const pageTitle = "Home Page";
---
<PageWrapper pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>This is where I will post about my journey learning Astro.</p>
</PageWrapper>